<!-- MAIN MENU -->
<div class="nav-bar">
		<div class="container">
			<div id="centerDiv">
				<ul class="nav centerUL">
					<li><%= link_to "Asistentes", lista_asistentes_path %></li>
					<li><%= link_to "Talleres", lista_talleres_path %></li>
					<li><%= link_to "Visitas", lista_visitas_path %></li>
					<li><%= link_to "Herramientas", herramientas_path %></li>
				</ul>
			</div>
		</div>
</div>
<!-- END MAIN MENU -->

<!-- CONTENT -->
<div class="content">
  <div class="container">

  			<!-- left content -->
  			<div class="main">
  				<h1>Bienvenido/a</h1>
  				<hr>
                  <p><img class="img-responsive" src="https://media.giphy.com/media/pVKuyoWn9r0nm/giphy.gif" width="100%" alt=""></p>
              </div>
      <!-- right sidebar -->
      <div class="aside">
        <h3>Tu cuenta</h3>
        <p>Bienvenido/a,  <strong><%= @current_user.nombre %></strong>
          <br /><%= link_to "Cerrar Sesion", logout_path%></p>

  </div>
  <!-- END CONTAINER -->

</div>
<!-- END CONTENT -->
