<!-- MAIN MENU -->
<div class="nav-bar">
		<div class="container">
			<div id="centerDiv">
				<ul class="nav centerUL">
					<li><%= link_to "Asistentes", lista_asistentes_path %></li>
					<li><a href="admin-talleres.html">Talleres</a></li>
					<li><a href="admin-visitas.html">Visitas</a></li>
					<li><a href="admin-herramientas.html">Herramientas</a></li>
				</ul>
			</div>
		</div>
</div>
<!-- END MAIN MENU -->

<!-- CONTENT -->
<div class="content">

  <!-- CONTAINER -->
  <div class="container">

    <!-- left content -->
    <div class="main">
      <h1>Alta de talleres y visitas</h1>
      <hr>

      <h3>Selecciona la opción que deseas</h3>
      <%= link_to "Dar de alta un taller", nuevo_taller_path, class: "btn" %>
      <%= link_to "Dar de alta una visita", nueva_visita_path, class: "btn" %>
    </div>

    <!-- right sidebar -->
    <div class="aside">
      <h3>Tu cuenta</h3>
      <p>Bienvenido/a, <strong><%= @current_user.nombre %></strong>
        <br /><%= link_to "Cerrar Sesion", logout_path%></p>
    </div>

  </div>
    <!-- END CONTAINER -->

</div>
  <!-- END CONTENT -->
