<!-- MAIN MENU -->
<div class="nav-bar">
		<div class="container">
			<div id="centerDiv">
				<ul class="nav centerUL">
					<li><%= link_to "Asistentes", lista_asistentes_path %></li>
          <li><%= link_to "Talleres", lista_talleres_path %></li>
					<li><%= link_to "Visitas", lista_visitas_path, class: "current" %></li>
					<li><%= link_to "Herramientas", herramientas_path %></li>
				</ul>
			</div>
		</div>
</div>
    <!-- END MAIN MENU -->

	<!-- CONTENT -->
	<div class="content">

		<!-- CONTAINER -->
		<div class="container">

			<!-- left content -->
			<div class="main">
				<h1><%= link_to "Alta de talleres y visitas", agregar_vot_path %> > <%= link_to "Alta de visitas", nueva_visita_path %> > Éxito</h1>
                <hr>

                <h3>La visita ha sido registrado exitosamente</h3>
                <p>Puedes  <%= link_to "registrar otra visita", nueva_visita_path %> o bien, <a href="">regresar a la pantalla principal</a>.</p>
			</div>

			<!-- right sidebar -->
			<div class="aside">
				<h3>Tu cuenta</h3>
        <p>Bienvenido/a, <strong><%= @current_user.nombre %></strong>
          <br /><%= link_to "Cerrar Sesion", logout_path%></p>
				</div>

			</div>
			<!-- END CONTAINER -->

		</div>
		<!-- END CONTENT -->
