<!-- MAIN MENU -->
<div class="nav-bar">
		<div class="container">
			<div id="centerDiv">
				<ul class="nav centerUL">
					<li><%= link_to "Asistentes", lista_asistentes_path, class: "current" %></li>
					<li><%= link_to "Talleres", lista_talleres_path %></li>
					<li><%= link_to "Visitas", lista_visitas_path %></li>
					<li><%= link_to "Herramientas", herramientas_path %></li>
				</ul>
			</div>
		</div>
</div>
<!-- END MAIN MENU -->

<!-- CONTENT -->
	<div class="content">

		<!-- CONTAINER -->
		<div class="container">

			<!-- left content -->
			<div class="main">
				<h1>Asistentes</h1>
				<p><%= link_to "Ver asistentes no confirmados", no_confirmados_path %></p>
				<hr>
				<!-- tabla -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre completo</th>
							<th>Email</th>
							<th>Turno</th>
							<th>Taller</th>
							<th>Visita</th>
							<th>C칩digo de recuperaci칩n</th>
						</tr>
					</thead>
					<tbody>
						<tbody>
		          <% @atendees.each_with_index do |atendee, index| %>
							<tr>
								<th scope="row"><%= index + 1 %></th>
		            <td><%= atendee['nombre'] %></td>
		            <td><%= atendee['email'] %></td>
								<% if atendee.hora_asignada %>
		            <td><%= l(atendee.hora_asignada, format: '%b/%d/%Y, hora: %H:%M') %></td>
								<% else %>
								<td>Sin asignar</td>
								<% end %>
		            <% if atendee.visit %>
		              <td><%= atendee.visit.empresa %></td>
		            <% else %>
		              <td>Sin inscribir</td>
		            <% end %>
		            <% if atendee.workshop %>
		              <td><%= atendee.workshop.representante %></td>
		            <% else %>
		              <td>Sin inscribir</td>
		            <% end %>
								<% if atendee.recovery_code %>
		              <td><%= atendee.recovery_code %></td>
								<% else %>
			            <td> </td>
			          <% end %>
							</tr>
		          <% end %>
						</tbody>
					</tbody>
				</table>

			</div>

			<!-- right sidebar -->
			<div class="aside">
	      <p>Has iniciado sesi칩n como <strong><%= @current_user.nombre %></strong>
	        <br /><%= link_to "Cerrar Sesion", logout_path%></p>
				</p>

				<h3>Actividades</h3>

				<ul class="sidebar">
					<li><%= link_to "A침adir asistentes", registro_asistentes_path %></li>
					<li><a href ="">Exportar esta lista</a></li>
				</ul>

			</div>

			</div>
			<!-- END CONTAINER -->

		</div>
		<!-- END CONTENT -->
