<!-- CONTENT -->
	<div class="content">

		<!-- CONTAINER -->
		<div class="container">

			<!-- left content -->
			<div class="mainLong">
				<div class="login">
          <% if flash[:alert] %>
      			<p style="color:red; text-align:center;"><%= flash[:alert] %></p>
            <br /><br />
    			<% end %>
					<h1>Cambia tu contraseña</h1>
					<hr>

          <%= form_tag(:action => 'restore_password') do %>
            <h3>Correo electrónico</h3>
            <%= email_field_tag :email, nil, placeholder: "obligatorio"%>
						<br /><br />

						<h3>Código de recuperación</h3>
						<%= text_field_tag :recovery_code, nil, placeholder: "obligatorio"%>
						<br /><br />

						<h3>Nueva contraseña</h3>
						<%= password_field_tag :password, nil, placeholder: "obligatorio"%>
						<br /><br />

						<h3>Confirma tu contraseña</h3>
						<%= password_field_tag :password_confirmation, nil, placeholder: "obligatorio"%>
						<br /><br />

						<%= submit_tag "Cambiar contraseña" , class: "btn" %>
						<br /><br />
					<% end %>

				</div>
			</div>

		</div>
		<!-- END CONTAINER -->

	</div>
	<!-- END CONTENT -->
