<!-- MAIN MENU -->
	<div class="nav-bar">
		<div class="container">
			<div id="centerDiv">
				<ul class="nav centerUL">
          <li><%= link_to "Inicio", inicio_path %></li>
          <% if @current_attendee.hora_asignada < Time.zone.now %>
          <li><%= link_to "Talleres", seleccion_taller_path, class: "current" %></li>
          <li><%= link_to "Visitas", seleccion_visita_path %></li>
          <% end %>
          <li><%= link_to "Cerrar sesión de #{@current_attendee.nombre.partition(" ").first}", logout_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- END MAIN MENU -->

	<!-- CONTENT -->
	<div class="content">

		<!-- CONTAINER -->
		<div class="container">

			<!-- left content -->
			<div class="mainLong">

				<% if !@current_attendee.workshop %>
				<h1 class="centerText">Selecciona un taller</h1>
				<hr>

				<div style="separatorLarge">&nbsp;</div>

        <% @available_workshops.each_with_index do |workshop, index| %>
          <div class="oneThird">
  					<div class="conceptEnclosure" id="<%= 'gridLast' if index%3 == 2 %>">
  						<h3><%= workshop.representante %></h3>
              <p>Taller de <%= workshop.tipo %></p>
  						<p><%= workshop.descripcion %></p>
  						<p>
  							<strong>Fecha y hora:</strong><br />
								<% if workshop.fecha %>
  							<%= l(workshop.fecha, format: '%B %d, de %Y, hora: %I:%M %p') %><br />
								<% else %>
								<td>Sin asignar</td>
								<% end %>
  							<strong>Lugar:</strong><br />
  							<%= workshop.lugar %><br />
  							<strong>Disponibilidad:</strong><br />
  							<%= workshop.cupo_actual %>/<%= workshop.asistentes_registrados + workshop.cupo_actual %>
  						</p>
              <%= button_to 'Inscribir', {:controller => "atendees", :action => "associate_workshop", :id => workshop['id']} , {:method=>:post, class: "btn"}  %>
  					</div>
  				</div>
        <% end %>
        <div style="separatorLarge">&nbsp;</div>
				<% else %>
				<div class="centerText">
					<h1>Estas inscrito en el siguiente taller:</h1>
					<hr>

					<h3><%= @current_attendee.workshop.representante %></h3>
          <p>Taller de <%= @current_attendee.workshop.tipo %></p>
					<p><%= @current_attendee.workshop.descripcion %></p>
					<p>
						<strong>Fecha y hora:</strong><br />
						<% if @current_attendee.workshop.fecha %>
						<%= l(@current_attendee.workshop.fecha, format: '%B %d, de %Y, hora: %I:%M %p') %><br />
						<% else %>
						<td>Sin asignar</td>
						<% end %>
          </p>
          <p>
						<strong>Lugar:</strong><br />
						<%= @current_attendee.workshop.lugar %>
					</p>
				</div>
				<% end %>
			</div>

			</div>
			<!-- END CONTAINER -->

		</div>
		<!-- END CONTENT -->
