<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
  <h1>Inicia sesion</h1>
  <%= form_tag(:action => 'registro_atendee') do %>
    <p> Nombre:</br> <%= text_field_tag :nombre%> </p>
    <p> Email:</br> <%= text_field_tag :email%> </p>
    <p> universidad:</br> <%= text_field_tag :universidad%> </p>
    <p> Password:</br> <%= password_field_tag :password%></p>
    <p> Password Confirmation:</br> <%= password_field_tag :password_confirmation%> </p>
    <p> Codigo de registro:</br> <%= text_field_tag :registration_code%> </p>
  <%= submit_tag("Inicia sesion") %>
  <% end %>
</div>
