<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- metas & title -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Congreso Industrial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tarín &amp; Hervert">

  <!-- icons -->
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <%= favicon_link_tag %>

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,700' rel='stylesheet' type='text/css'>

  <!-- stylesheets -->
  <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>

  <!-- HEADER -->
  <div class="header">
    <div class="container">
      <%= image_tag "logo.png" %>
    </div>
  </div>
  <!-- END HEADER -->
  <%= yield %>
  <div class="footer">
    <div class="container">
      &copy; Copyright 2016, Congreso Industrial
    </div>
  </div>
</body>
</html>
